#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  color: #000;
  --skeleton-color: #323232
}

* {
  color: white
}

img {
  pointer-events: none;
}

.swiper {
  width: 100%;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bootstrap */
.card {
  border-radius: 10px;
}

.btn-outline-secondary {
  color: white;
  background-color: rgba(86, 86, 86, 0.1);
}

.bg-secondary {
  background-color: var(--bs-gray-800);
}

.bg-danger {
  background-color: #27405a;
}

.bg-dark {
  background-color: #141414;
}

.progress-bar {
  color: white;
  font-family: sans-serif;
}

.unselectable {
  user-select: none;
}
.clickable {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}